* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: grey;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 240, 147);
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

.secret {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 500px;
    height: 300px;
    justify-self: center;
    align-self: center;
    background-image: url('img/3.png');
}

.hide {
    display: none;
}

.admin-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 240, 147);
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}